/* flex
  gap-3
  bg-blue-600
  items-center
  justify-around
  text-2xl
  font-bold
  text-white
  w-6/12
  mx-auto
  p-3
  my-10
  rounded-lg */
.navbar {
  display: flex;
  gap: 3;
  background-color: rgb(64, 64, 229);
  justify-content: space-around;
  align-items: center;
  font-size: xx-large;
  font-weight: bold;
  width: 50%;
  margin: 40px auto;
  padding: 12px;
  border-radius: 15px;
  color: white;
}
